/* Colors
/* ---------------------------------------------------------- */

$primary-color: #D97706;
$dark-blue-500: #102b7b;

$gray-100: #f1f1f1;
$gray-150: #F5F5F5;
$gray-200: #F0F0F0;
$gray-300: #e1e1e1;
$gray-400: #D4D4D4;
$gray-500: #738a94;
$gray-600: #979797;
$gray-700: #15171A;
$gray-800: #15171A;
$gray-900: #15171A;

$primary-text-color: #15171A;
$primary-text-color-title: #15171A;

/* Header
/* ---------------------------------------------------------- */

$header-height: 4rem;

/* Footer
/* ---------------------------------------------------------- */

$footer-bg-color: #111;
$footer-color: hsla(0, 0%, 100%, .6);
$footer-color-input: #bbb;
$footer-bg-input-color: rgba(97, 97, 97, 0.25);
